Flask==0.10.1
Flask-Login==0.2.8
Flask-RESTful==0.2.10
Flask-WTF==0.9.4
Jinja2==2.7.1
MarkupSafe==0.18
WTForms==1.0.5
Werkzeug==0.9.4
aniso8601==0.82
argparse==1.2.1
-e git+git@github.com:niedbalski/bitbingo.git@0459c937aad1d4c659c01beb99e37fa503d19ea3#egg=bitbingo-dev
flask-peewee==0.6.5
gunicorn==18.0
ipython==1.1.0
itsdangerous==0.23
peewee==2.1.7
pytz==2013.8
six==1.4.1
wsgiref==0.1.2
wtf-peewee==0.2.2
