<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" conent="width=device-width, initial-scale=1.0"></meta>
    <title>{% block title %}{% endblock %}</title>

    <!-- stylesheets -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link href="/assets/css/bootstrap.css" rel="stylesheet"></link>
    <link href="/assets/css/main.css" rel="stylesheet"></link>

    <!-- backbone bootstrap forms -->
    <link href="/assets/js/lib/backbone-forms/templates/bootstrap3.css" rel="stylesheet" />


    <!-- Load the main Bitbingo Rubberduck application -->
    <script data-main="/assets/js/app" src="/assets/js/lib/require.js"></script>

  </head>
  <body>
    <!--- Backbone.js templates -->

    <!-- Played games table -->
    <script type="text/template" id="played-games">
      <table class="table table-hover table-condensed table-striped winners">
        <thead>
          <tr>
            <th>Game</th>
            <th>Winner</th>
            <th>Amount</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% _.each(games, function(game) { %>
          <tr>
            <td><%= game.id %></td>
            <td><%= game.winner %></td>
            <td><%= game.amount %></td>
            <td><%= game.scheduled_at %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </script>

    <!-- Login Form -->
    <script id="login-form" type="text/html">
      <div class="row login">
        <div class="col-sm-3 col-lg-3"></div>
        <!--clearfix here-->
        <div class="clearfix visible-sm"></div>
        <div class="col-sm-5 col-lg-5">
          <div class="ck form-group">
            <form method="POST" action="/player/login" id="login">
              <label for="wallet">Bitcoin Wallet address</label>
              <input class="form-control" data-validation="length" data-validation-error-msg="Enter a valid bitcoin wallet" data-validation-length="min10" id="wallet" name="wallet" size="32" type="text" value="">
              <span class="help-block hidden-xs"><i class="fa fa-arrow-right"></i> Your Bitcoin wallet address</span>
              <label for="password">Password</label>
              <input class="form-control" data-validation="length" data-validation-error-msg="Enter a valid password" data-validation-length="min8" id="password" name="password" size="32" type="password" value="">
              <span class="help-block hidden-xs">
                <i class="fa fa-arrow-right"></i> Your BitBingo password
              </span>

              <p> <label for="remember">Remember Me</label> <input id="remember" name="remember" type="checkbox" value="y"> </p>
              <input class="btn btn-default" type="submit" value="Login">
              <p> Not yet registered? <a href="/#signup">Signup now!</a></p>
            </form>
          </div>
        </div>
        <!--full with on responsive view-->
        <div class="col-sm-2 col-lg-2"></div>
      </div>
    </script>

    <!-- Signup form -->
    <script id="signup-form" type="text/html">
      <div class="row signup-form">
        <div class="col-sm-3 col-lg-3"></div>
        <!--clearfix here-->
        <div class="clearfix visible-sm"></div>
        <div class="col-sm-6 col-lg-6">
          <div class="ck form-group">
            <form method="POST" id="signup">
              <div data-fields="wallet,password,confirmation"></div>
              <div data-fields="email"></div>
              <input class="center-block btn btn-default" id="signup-submit" type="submit" value="Signup">
              <p class="center-block"> Already a player? <a href="/#login"> Login here</a></p>
            </form>
          </div>
        </div>
        <!--full with on responsive view-->
        <div class="col-sm-2 col-lg-2"></div>
      </div>
    </script>

    <!-- / Backbone.js templates -->

    <div class="container">
      <div class="row clearfix">
	<div class="col-md-12 column">
	  <h2>
	    <i class="fa fa-btc fa-6"></i> BitBingo
	  </h2>
	  <ul class="nav nav-tabs">
	    <li class="active">
	      <a href="#"> {% block initial %}Home{% endblock %}</a>
	    </li>
            <div id="navigation">{% block navigation %}{% endblock %}</div>
	  </ul>
	  <a class="pull-right" href="#">{% block badge %}{% endblock %}</a>
	  <div class="row clearfix">
	    <div class="col-md-12 column">
              <div id="content">{% block content %}{% endblock %}</div>
	    </div>
	  </div>
	  <div class="row clearfix">
	    <div class="col-md-8 column">
              <div id="game">{% block game %}{% endblock %}</div>
	    </div>
	    <div class="col-md-4 column">
              <div id="players">{% block players %}{% endblock %}</div>
	    </div>
	  </div>
	  <hr>
	  <address> <strong>Bitcoin Games, LLC.</strong><br /> 2909 Vitacura Ave, Suite 215<br /> Santiago, RM 94107<br /> <abbr title="Phone">P:</abbr> (123) 456-7890</address>
	</div>
      </div>
    </div>
  </body>
</html>
