{% extends "base.html" %}
{% block title %} Bitcoin Bingo, making bitcoin billionaries every single day  {% endblock %}
{% block badge %}
{% if player.is_authenticated() %}
Current balance: <span class="badge"> {{ player.balance }} BTC </span>
{% else %}
<a style="margin-top: 5px" class="badge pull-right" href="/#signup">Login or Signup</a>
{% endif %}
{% endblock %}
{% block content %}{% endblock %}
{% block navigation %}
{% if player.is_authenticated() %}
<li>
  <a href="/#transactions">Transactions</a>
</li>
<li>
  <a href="/player/support">Support</a>
</li>
<li>
  <a href="/player/logout">Logout</a>
</li>
{% endif %}
{% endblock %}
{% block game %}{% endblock %}
{% block players %}{% endblock %}
