{% extends "base.html" %}
{% block title %} Bitcoin Bingo, making bitcoin billionaries every single day  {% endblock %}
{% block badge %}
   {% if player.logged_in %}
      Current balance: <span class="badge"> BTC {{ player.balance }}  </span>
   {% else %}
     <span class="badge">Login or Signup</span>
   {% endif %}
{% endblock %}
{% block content %}
<div class="hidden-xs">
<h1>
  We are making <i class="fa fa-btc fa-5"></i>illionaires every single day.
</h1>
<p>
  Put your wallet address, deposit some bitcoins, click on play and start earning bitcoins.
</p>
<p>
<!--  <a class="btn" href="#">View details >></a> -->
</p>
</div>
{% endblock %}
{% block navigation %}
   {% if player.logged_in %}
<li>
  <a href="#">Transactions</a>
</li>
<li>
  <a href="#">Support</a>
</li>
   {% endif %}
{% endblock %}
{% block game %}
<div class="ongoing">Next Roulette <span class="next-game">13:05:00 PM UTC</span></div>
<div class="media" id="test">
  <img src="./assets/img/roulette.png" alt="..." class="img-responsive center-block">
</div>
<div class="pull-right play-buttons">
  <p>
    <button type="button" class="btn btn-default btn-lg">Tutorial</button>
    <button type="button" class="btn btn-primary btn-lg disabled">Play Now</button>
  </p>
</div>
{% endblock %}
{% block players %}
<table class="table table-hover table-condensed table-striped winners">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Game
      </th>
      <th>
        Amount
      </th>
      <th>
        Status
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        1
      </td>
      <td>
        TB - Monthly
      </td>
      <td>
        01/04/2012
      </td>
      <td>
        Default
      </td>
    </tr>
    <tr class="active">
      <td>
        1
      </td>
      <td>
        xdamagex
      </td>
      <td>
        BTC 0.005
      </td>
      <td>
        Paid
      </td>
    </tr>
    <tr class="active">
      <td>
        1
      </td>
      <td>
        xdamagex
      </td>
      <td>
        BTC 0.005
      </td>
      <td>
        Paid
      </td>
    </tr>

    <tr class="active">
      <td>
        1
      </td>
      <td>
        xdamagex
      </td>
      <td>
        BTC 0.005
      </td>
      <td>
        Paid
      </td>
    </tr>

    <tr class="active">
      <td>
        1
      </td>
      <td>
        xdamagex
      </td>
      <td>
        BTC 0.005
      </td>
      <td>
        Paid
      </td>
    </tr>
    <tr class="active">
      <td>
        1
      </td>
      <td>
        xdamagex
      </td>
      <td>
        BTC 0.005
      </td>
      <td>
        Paid
      </td>
    </tr>

    <tr class="active">
      <td>
        1
      </td>
      <td>
        xdamagex
      </td>
      <td>
        BTC 0.005
      </td>
      <td>
        Paid
      </td>
    </tr>

    <tr class="active">
      <td>
        1
      </td>
      <td>
        xdamagex
      </td>
      <td>
        BTC 0.005
      </td>
      <td>
        Paid
      </td>
    </tr>

    <tr class="active">
      <td>
        1
      </td>
      <td>
        xdamagex
      </td>
      <td>
        BTC 0.005
      </td>
      <td>
        Paid
      </td>
    </tr>
    <tr class="active">
      <td>
        1
      </td>
      <td>
        xdamagex
      </td>
      <td>
        BTC 0.005
      </td>
      <td>
        Paid
      </td>
    </tr>

    <tr class="active">
      <td>
        1
      </td>
      <td>
        xdamagex
      </td>
      <td>
        BTC 0.005
      </td>
      <td>
        Paid
      </td>
    </tr>

    <tr class="active">
      <td>
        1
      </td>
      <td>
        xdamagex
      </td>
      <td>
        BTC 0.005
      </td>
      <td>
        Paid
      </td>
    </tr>

    <tr class="active">
      <td>
        1
      </td>
      <td>
        xdamagex
      </td>
      <td>
        BTC 0.005
      </td>
      <td>
        Paid
      </td>
    </tr>

    <tr class="active">
      <td>
        1
      </td>
      <td>
        xdamagex
      </td>
      <td>
        BTC 0.005
      </td>
      <td>
        Paid
      </td>
    </tr>

  </tbody>
</table>
<ul class="pagination">
  <li>
    <a href="#">Prev</a>
  </li>
  <li>
    <a href="#">1</a>
  </li>
  <li>
    <a href="#">2</a>
  </li>
  <li>
    <a href="#">3</a>
  </li>
  <li>
    <a href="#">4</a>
  </li>
  <li>
    <a href="#">5</a>
  </li>
  <li>
    <a href="#">Next</a>
  </li>
</ul>

{% endblock %}
