{% extends "base.html" %}
{% block title %} BitBingo: Signup {% endblock %}
{% block initial%} Signup on BitBingo! {% endblock %}
{% block content %}
<div class="row login-form">
  <div class="col-sm-3 col-lg-3"></div>
  <!--clearfix here-->
  <div class="clearfix visible-sm"></div>
  <div class="col-sm-5 col-lg-5">
    <div class="ck form-group">
      <form method="POST" action="/player/signup" id="signup">
        {{ form.hidden_tag() }}
        {{ form.wallet.label }}
        {{
            form.wallet(size=32, class="form-control", **{
                'data-validation': "server",
                'data-validation-url': "/api/v1/wallet"
            })
        }}
        {{ form.password_confirmation.label }}
        {{
            form.password_confirmation(size=32, class="form-control", **{
                         'data-validation': "length",
                         'data-validation-error-msg': "Minimum password size is 8 alpha-numeric characters",
                         'data-validation-length': "min8"})

        }}
        {{ form.password.label }} {{
            form.password(size=32, class="form-control", **{
                'data-validation': "confirmation",
                'data-validation-error-msg': "Password doesn't match, check both are the same",
        }) }}

        {{ form.email.label }} {{
             form.email(size=32, class="form-control", **{
                 'data-validation': "email"
             })
        }}
        <input class="btn btn-default" type="submit" value="Signup">
        <p> Already a player? <a href="/player/login"> Login here</a></p>
      </form>
    </div>
  </div>
  <!--full with on responsive view-->
  <div class="col-sm-2 col-lg-2"></div>
</div>
{% endblock %}
