html {
    margin-top: 10px;
}

.nav {
    margin-top: 25px;
}

.achievements {
    padding: 15px;
}

.winner {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-stretch: condensed;
    font-size: 60pt;
    width: 100%;
}

.winners {
    margin-left: 10px;
}

.ongoing {
    height: auto;
    z-index:10;
    position: absolute;

    top: 45%;
    left: 35%;
    font-weight: bold;
    background: white;
}

.login-form {
    margin-top: 25px;
}

.login-form .btn-default {
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-form label {
    margin-top: 5px;
}

.login {
    height: 300px;
    margin-top:35px;
}

.signup {
    margin-top:35px;
}

.signup-container {
    border: 1px solid #dddddd;
    padding: 15px;
}

.login-container {
    border: 1px solid #dddddd;
    padding: 15px;
}

.login-container input[type="submit"] {
/*    margin: 12px; */
    margin-top: 20px;
}

.signup-container input[type="submit"] {
    margin-top: 20px;
}

.badge-container {
    margin-top: 15px;
}

.game-container {
    margin-top: 35px;
}

.signup-container .suggestion {
    position: absolute;
    margin-left: 10px;
    margin-bottom: 0;
}
.not-found {
    height: 250px;
}
